<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/css/w3.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/custom.css}"/>
    <title>Index Sakila</title>
</head>

<body class="w3-container w3-light-grey">
<header th:insert="fragments/header :: head" ></header>
<h1 class="center">Bienvenue sur le site SAKILA</h1>
<div class="w3-container w3-center">
<!--    <p th:text="${message}"></p>-->
    <a  th:href="@{/countries}" class="w3-button w3-border w3-hover-sand w3-large">Liste des Pays</a>
    <a th:href="@{/cities}" class="w3-button w3-border w3-hover-sand w3-large">Liste des Villes</a>
    <a th:href="@{/users}" class="w3-button w3-border w3-hover-sand w3-large">Liste des Utilisateurs</a>

    <br>
    <img src="../static/city.png" th:src="@{city.png}" alt="image"/>

</div>
</body>

</html>