<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/CSS/w3.css}"/>
    <link th:rel="stylesheet" th:href="@{/CSS/custom.css}"/>
    <link th:rel="stylesheet" th:href="@{/CSS/card.css}"/>


</head>
</head>
<body>
    <div class="conteneur">
        <div id="carte_1" class="carte carte_1">
            <div class="border">
                <a href=""></a>
                <h2 id="card1">1</h2>
            </div>
        </div>
        <div class="carte carte_2">
            <div class="border">
                <h2 id="card2">3</h2>
            </div>
        </div>
        <div class="carte carte_3">
            <div class="border">
                <h2 id="card3">5</h2>
            </div>
        </div>
        <div class="carte carte_4">
            <div class="border">
                <h2 id="card4">10</h2>
            </div>
        </div>
        <div class="carte carte_5">
            <div class="border">
                <h2 id="card5">15</h2>
            </div>
        </div>
    </div>
   
</body>
<script>
    function checkTypeUser(){
        const pass = localStorage.getItem('key_type')
    }
    const card1 = document.getElementById('carte_1');
    const num = card1.querySelector('#card1').textContent;
    card1.addEventListener('click', () => {
        console.log(num)
    });
        


</script>
</html>